# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for Data Science
* List popular librairies for Data Science
* List some tools used in Data Science
* Add few examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. Javascript
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Seaborn
3. Pytorch
4. Keras

| Data Science Tools |
| --- |
| Anaconda |
| R studio |
| Knime |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Yannick ZOHOU